<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nightlynexus.diskcrashreporter">

  <application>
    <provider
        android:name=".DiskCrashReporterContentProvider"
        android:authorities="${applicationId}.diskcrashreporter-installer"
        android:exported="false" />
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:mimeType="text/plain" />
    </intent>
  </queries>
</manifest>
